[submodule "todo_App"]
	path = todo_App
	url = https://github.com/rodrickcalvin/ALX-FS-TodoApp.git
[submodule "Fyurr-Artist-Venue-booking-site"]
	path = Fyurr-Artist-Venue-booking-site
	url = https://github.com/rodrickcalvin/Fyurr-Artist-Venue-booking-site.git
[submodule "React-FR---Flask-API"]
	path = React-FR---Flask-API
	url = https://github.com/rodrickcalvin/React-FR---Flask-API.git
[submodule "Trivia-Question-App"]
	path = Trivia-Question-App
	url = https://github.com/rodrickcalvin/Trivia-Question-App.git
[submodule "Coffee_shop_full_stack"]
	path = Coffee_shop_full_stack
	url = https://github.com/rodrickcalvin/Coffee-shop-app.git
[submodule "Server-Deployment-and-Containerization"]
	path = Server-Deployment-and-Containerization
	url = https://github.com/rodrickcalvin/Server-Deployment-and-Containerization.git
